In [2]:
import pandas as pd
emissions = pd.DataFrame({"country": ['China', "United States", "India"],
                          "year": ['2018', '2018', '2018'],
                          "co2_emissions": [100_600_000_000.0, 54_160_000_000.0, 26_600_000_000.0]})

emissions

         country  year  co2_emissions
0          China  2018   1.006000e+11
1  United States  2018   5.416000e+10
2          India  2018   2.660000e+10

In [9]:
pd.options.display.max_rows = 2
emissions

   country  year  co2_emissions
0    China  2018   1.006000e+11
..     ...   ...            ...
2    India  2018   2.660000e+10

[3 rows x 3 columns]

In [10]:
pd.options.display.max_columns = 2
emissions

   country  ... co2_emissions
0    China  ...  1.006000e+11
..     ...  ...           ...
2    India  ...  2.660000e+10

[3 rows x 3 columns]

In [17]:
pd.options.display.float_format = '{:,.2f}'.format # gets rid of scientific notation
emissions

   country  ...      co2_emissions
0    China  ... 100,600,000,000.00
..     ...  ...                ...
2    India  ...  26,600,000,000.00

[3 rows x 3 columns]