In [34]:
import pandas as pd
temps = pd.DataFrame(
    {
        "sequence": [1,2,3,4,5],
        "measurement_type": ['actual', 'actual', 'actual', None, 'estimated'],
        "temperature_f": [67.24, 84.56, 91.61, None, 49.46]
    }
)

temps

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4             None            NaN
4         5        estimated          49.46

In [35]:
temps.isna()

   sequence  measurement_type  temperature_f
0     False             False          False
1     False             False          False
2     False             False          False
3     False              True           True
4     False             False          False

In [36]:
temps['temperature_f'].cumsum() # adds the previous value to the next value and gives result for reach row. bottom value is aggregate sum of all original values

0     67.24
1    151.80
2    243.41
3       NaN
4    292.87
Name: temperature_f, dtype: float64

In [37]:
temps['temperature_f'].cumsum(skipna=False) # all subsquent results are nulled after the first null

0     67.24
1    151.80
2    243.41
3       NaN
4       NaN
Name: temperature_f, dtype: float64

In [38]:
temps.groupby(by=['measurement_type']).max() # will exclude null vals by default

                  sequence  temperature_f
measurement_type
actual                   3          91.61
estimated                5          49.46

In [39]:
temps.groupby(by=['measurement_type'], dropna=False).max()

                  sequence  temperature_f
measurement_type
actual                   3          91.61
estimated                5          49.46
NaN                      4            NaN

In [40]:
temps.dropna()

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
4         5        estimated          49.46

In [41]:
temps.dropna(axis=1) # drop any columns with NAs (not common approach)

   sequence
0         1
1         2
2         3
3         4
4         5

In [42]:
temps.fillna(0)

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4                0           0.00
4         5        estimated          49.46

In [43]:
temps.fillna(method='pad') # fills empty value from previous row

/var/folders/3z/vql799852x1fxbym4hmy9p8w0000gn/T/ipykernel_70645/1057964551.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  temps.fillna(method='pad') # fills empty value from previous row

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4           actual          91.61
4         5        estimated          49.46

In [44]:
temps.interpolate() # halfway point betwen previous and next value

/var/folders/3z/vql799852x1fxbym4hmy9p8w0000gn/T/ipykernel_70645/3271466085.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  temps.interpolate()

   sequence measurement_type  temperature_f
0         1           actual         67.240
1         2           actual         84.560
2         3           actual         91.610
3         4             None         70.535
4         5        estimated         49.460