In [11]:
import pandas as pd
names = pd.Series(['Pomeray, CODY', 'Wagner; Jerry', 'smith, Ray'])
names

0    Pomeray, CODY
1    Wagner; Jerry
2       smith, Ray
dtype: object

In [12]:
names = names.str.replace(';', ',')
names

0    Pomeray, CODY
1    Wagner, Jerry
2       smith, Ray
dtype: object

In [13]:
names.str.len()

0    13
1    13
2    10
dtype: int64

In [14]:
names = names.str.strip()
names

0    Pomeray, CODY
1    Wagner, Jerry
2       smith, Ray
dtype: object

In [15]:
names = names.str.lower()
names

0    pomeray, cody
1    wagner, jerry
2       smith, ray
dtype: object

In [16]:
names = names.str.split(', ')
names

0    [pomeray, cody]
1    [wagner, jerry]
2       [smith, ray]
dtype: object

In [31]:
names = pd.Series([i[::-1] for i in names]) # nothing for first arg (start) nothing for second arg (end) reverse for last arg (step)
names

0    [cody, pomeray]
1    [jerry, wagner]
2       [ray, smith]
dtype: object

In [32]:
names  = [' '.join(i) for i in names]
names

['cody pomeray', 'jerry wagner', 'ray smith']